Repository element-plus/element-plus, pull requests merged in 2021-07, with the labels that each got.

#2380 fix: checkbox label auto convert to bool when label is empty (#2287)
  packages/checkbox/__tests__/checkbox.spec.ts
  packages/checkbox/src/checkbox.vue
Labels: ready to merge

#2375 docs: improve the document of form-item (#2372)
  packages/form/src/form-item.vue
  packages/form/src/form.type.ts
  packages/form/src/form.vue
  website/docs/en-US/form.md
  website/docs/es/form.md
  website/docs/fr-FR/form.md
  website/docs/jp/form.md
  website/docs/zh-CN/form.md
Labels: release candidate

#2378 fix: select_v2 asynchronous binding issue (#2368)
  packages/select-v2/src/select.vue
  packages/select-v2/src/useSelect.ts
Labels: release candidate

#2396 feat(form): label-width supports number type
  packages/form/src/form-item.vue
  packages/form/src/form.vue
  website/docs/en-US/form.md
  website/docs/es/form.md
  website/docs/fr-FR/form.md
  website/docs/jp/form.md
  website/docs/zh-CN/form.md
Labels: release candidate

#2421 feat(hooks): add use-teleport hook
  packages/hooks/__tests__/use-teleport.spec.ts
  packages/hooks/index.ts
  packages/hooks/use-teleport/index.ts
  packages/utils/global-nodes.ts
  packages/utils/tests/global-nodes.spec.ts
Labels: Refactor

#2434 feat(hooks): add use-transition-fallthrough-hook
  packages/hooks/use-transition-fallthrough/index.ts
Labels: enhancement

#2286 style(mixin): variable is assigned but never used
  packages/theme-chalk/src/mixins/mixins.scss
Labels: Community Contribution

#2393 fix: table selectable callback index incorrect issue
  packages/table/__tests__/table-column.spec.ts
  packages/table/src/store/watcher.ts
Labels: release candidate

#2439 feat(hooks): add use-timeout hook
  packages/hooks/__tests__/use-timeout.spec.ts
  packages/hooks/index.ts
  packages/hooks/use-timeout/index.ts
Labels: enhancement

#2442 chore(avatar): let -> const
  packages/avatar/src/index.vue
Labels: Community Contribution, release candidate

#2457 fix(time-picker): fix missing blur methods and spelling error
  packages/time-picker/__tests__/time-picker.spec.ts
  packages/time-picker/src/common/picker.vue
  packages/time-picker/src/time-picker-com/panel-time-pick.vue
  packages/time-picker/src/time-picker-com/panel-time-range.vue
  packages/time-picker/src/time-picker-com/useTimePicker.ts
  packages/time-picker/src/time-picker.ts
  website/docs/en-US/time-picker.md
  website/docs/es/time-picker.md
  website/docs/fr-FR/time-picker.md
  website/docs/jp/time-picker.md
  website/docs/zh-CN/time-picker.md
Labels: release candidate

#2462 fix(time-picker): model-value should sync when disable-attrs was updated
  packages/time-picker/__tests__/time-picker.spec.ts
  packages/time-picker/src/common/picker.vue
Labels: release candidate

#2450 fix(option): selectemitter was not turned off when it was destroyed
  packages/select/src/useOption.ts
Labels: release candidate

#2469 fix(select): hoverIndex has incorrect value when popover is turned on again
  packages/select/__tests__/select.spec.ts
  packages/select/src/useSelect.ts
Labels: release candidate

#2468 fix(menu): fix el-menu activeIndex bug
  packages/menu/src/menu.vue
Labels: release candidate

#2556 refactor(hooks): refactor transition
  packages/hooks/__tests__/use-transition.spec.ts
  packages/hooks/use-transition/index.ts
  packages/theme-chalk/src/alert.scss
  packages/theme-chalk/src/breadcrumb.scss
  packages/theme-chalk/src/calendar.scss
  packages/theme-chalk/src/card.scss
  packages/theme-chalk/src/carousel-item.scss
  packages/theme-chalk/src/carousel.scss
  packages/theme-chalk/src/cascader.scss
  packages/theme-chalk/src/check-tag.scss
  packages/theme-chalk/src/checkbox.scss
  packages/theme-chalk/src/collapse.scss
  packages/theme-chalk/src/common/popup.scss
  packages/theme-chalk/src/common/transition.scss
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/dialog.scss
  packages/theme-chalk/src/drawer.scss
  packages/theme-chalk/src/image-viewer.scss
  packages/theme-chalk/src/input.scss
  packages/theme-chalk/src/loading.scss
  packages/theme-chalk/src/menu.scss
  packages/theme-chalk/src/message-box.scss
  packages/theme-chalk/src/message.scss
  packages/theme-chalk/src/notification.scss
  packages/theme-chalk/src/radio-button.scss
  packages/theme-chalk/src/rate.scss
  packages/theme-chalk/src/scrollbar.scss
  packages/theme-chalk/src/select-v2.scss
  packages/theme-chalk/src/select.scss
  packages/theme-chalk/src/slider.scss
  packages/theme-chalk/src/switch.scss
  packages/theme-chalk/src/table.scss
  packages/theme-chalk/src/tabs.scss
  packages/theme-chalk/src/tree.scss
  packages/theme-chalk/src/upload.scss
  packages/theme-chalk/src/var.scss
Labels: Refactor

#2584 refactor(switch): migrate css var
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/switch.scss
Labels: css migration, enhancement

#2586 refactor(skeleton): migrate css var
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/empty.scss
  packages/theme-chalk/src/skeleton-item.scss
  packages/theme-chalk/src/skeleton.scss
  packages/theme-chalk/src/var.scss
Labels: css migration, enhancement

#2587 refactor(pagination): migrate css var
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/pagination.scss
Labels: css migration, enhancement

#2588 refactor(table+calendar): migrate css var
  packages/theme-chalk/src/calendar.scss
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/table.scss
Labels: css migration, enhancement

#2547 feat: new hook: `useCssVar` for inject custom css vars
  packages/hooks/__tests__/use-css-var.spec.ts
  packages/hooks/index.ts
  packages/hooks/use-css-var/index.ts
Labels: enhancement, release candidate

#2589 refactor(color): migrate color css var & simplify color box docs
  .github/workflows/unit-test.yml
  packages/theme-chalk/src/breadcrumb.scss
  packages/theme-chalk/src/check-tag.scss
  packages/theme-chalk/src/collapse.scss
  packages/theme-chalk/src/color-picker.scss
  packages/theme-chalk/src/date-picker/date-table.scss
  packages/theme-chalk/src/date-picker/month-table.scss
  packages/theme-chalk/src/date-picker/picker.scss
  packages/theme-chalk/src/date-picker/time-spinner.scss
  packages/theme-chalk/src/date-picker/year-table.scss
  packages/theme-chalk/src/dialog.scss
  packages/theme-chalk/src/drawer.scss
  packages/theme-chalk/src/form.scss
  packages/theme-chalk/src/input-number.scss
  packages/theme-chalk/src/input.scss
  packages/theme-chalk/src/loading.scss
  packages/theme-chalk/src/menu.scss
  packages/theme-chalk/src/progress.scss
  packages/theme-chalk/src/radio-button.scss
  packages/theme-chalk/src/radio.scss
  packages/theme-chalk/src/reset.scss
  packages/theme-chalk/src/select-v2.scss
  packages/theme-chalk/src/slider.scss
  packages/theme-chalk/src/step.scss
  packages/theme-chalk/src/table-column.scss
  packages/theme-chalk/src/tabs.scss
  packages/theme-chalk/src/time-select.scss
  packages/theme-chalk/src/timeline-item.scss
  packages/theme-chalk/src/transfer.scss
  packages/theme-chalk/src/tree.scss
  packages/theme-chalk/src/upload.scss
  website/components/demo/color/color-box.vue
  website/docs/en-US/color.md
  website/docs/es/color.md
  website/docs/fr-FR/color.md
  website/docs/jp/color.md
  website/docs/zh-CN/color.md
Labels: css migration, enhancement

#2592 refactor(tag): migrate css var
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/tag.scss
Labels: css migration, enhancement

#2593 feat(autocomplete): optimize some const of autocomplete
  packages/autocomplete/src/index.vue
Labels: Community Contribution, enhancement

#2622 refactor(link): migrate css var
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/link.scss
Labels: css migration, enhancement

#2637 refactor(result): migrate css var
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/result.scss
Labels: css migration, enhancement

#2638 refactor(carousel): migrate css var
  packages/theme-chalk/src/carousel.scss
  packages/theme-chalk/src/common/var.scss
Labels: css migration, enhancement

#2639 refactor(transfer): migrate css var
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/transfer.scss
Labels: css migration, enhancement

#2641 refactor(dialog): migrate css var
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/dialog.scss
  packages/theme-chalk/src/drawer.scss
  packages/theme-chalk/src/radio.scss
  packages/theme-chalk/src/var.scss
Labels: css migration, enhancement

#2642 refactor(menu): migrate css var
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/menu.scss
Labels: css migration, enhancement

#2643 refactor(descriptions): migrate css var
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/descriptions-item.scss
  packages/theme-chalk/src/descriptions.scss
Labels: css migration, enhancement

#2644 refactor(empty): migrate css var
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/empty.scss
Labels: css migration, enhancement

#2661 refactor(collapse): migrate css var
  packages/theme-chalk/src/collapse.scss
  packages/theme-chalk/src/common/var.scss
Labels: css migration, enhancement

#2662 feat(locale): locale-provider
  packages/config-provider/__tests__/config-provider.spec.ts
  packages/config-provider/config-provider.ts
  packages/config-provider/index.ts
  packages/config-provider/package.json
  packages/element-plus/components.ts
  packages/element-plus/composables.ts
  packages/element-plus/index.ts
  packages/hooks/__tests__/use-locale.spec.ts
  packages/hooks/index.ts
  packages/hooks/use-locale/index.ts
  packages/utils/types.ts
  packages/utils/with-install.ts
Labels: enhancement, i18n

#2663 refactor(border): migrate css var & simplify docs
  commitlint.config.js
  packages/theme-chalk/src/autocomplete.scss
  packages/theme-chalk/src/button.scss
  packages/theme-chalk/src/card.scss
  packages/theme-chalk/src/check-tag.scss
  packages/theme-chalk/src/checkbox.scss
  packages/theme-chalk/src/color-picker.scss
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/date-picker/picker-panel.scss
  packages/theme-chalk/src/date-picker/picker.scss
  packages/theme-chalk/src/dropdown.scss
  packages/theme-chalk/src/input-number.scss
  packages/theme-chalk/src/menu.scss
  packages/theme-chalk/src/popover.scss
  packages/theme-chalk/src/radio-button.scss
  packages/theme-chalk/src/radio.scss
  packages/theme-chalk/src/select-dropdown-v2.scss
  packages/theme-chalk/src/select-dropdown.scss
  packages/theme-chalk/src/select-v2.scss
  packages/theme-chalk/src/select.scss
  packages/theme-chalk/src/slider.scss
  packages/theme-chalk/src/var.scss
  website/components/demo/border/radius-box.vue
  website/components/demo/border/shadow-box.vue
  website/demo-styles/border.scss
  website/docs/en-US/border.md
  website/docs/es/border.md
  website/docs/fr-FR/border.md
  website/docs/jp/border.md
  website/docs/zh-CN/border.md
  website/util.js
Labels: css migration, enhancement

#2666 refactor(locale): i18n migration for initial EIMP
  packages/empty/src/index.vue
  packages/image-viewer/src/index.vue
  packages/image/src/index.vue
  packages/message-box/src/index.vue
  packages/page-header/src/index.vue
  packages/pagination/src/index.ts
  packages/pagination/src/jumper.vue
  packages/pagination/src/sizes.vue
  packages/pagination/src/total.vue
  packages/popconfirm/src/index.vue
Labels: Refactor, enhancement, i18n

#2654 fix(input): input maxlength calculate the correct length
  packages/input/__tests__/input.spec.ts
  packages/input/src/index.vue
  website/docs/en-US/input.md
  website/docs/es/input.md
  website/docs/fr-FR/input.md
  website/docs/jp/input.md
  website/docs/zh-CN/input.md
Labels: Community Contribution, enhancement

#2687 refactor(popover): migrate css var
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/popover.scss
  packages/theme-chalk/src/popper.scss
Labels: css migration, enhancement

#2686 refactor(tooltip): migrate css var
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/tooltip.scss
Labels: Refactor, css migration, enhancement

#2691 refactor(color): rename color-text to text-color
  packages/theme-chalk/src/alert.scss
  packages/theme-chalk/src/autocomplete.scss
  packages/theme-chalk/src/breadcrumb.scss
  packages/theme-chalk/src/calendar.scss
  packages/theme-chalk/src/card.scss
  packages/theme-chalk/src/cascader.scss
  packages/theme-chalk/src/checkbox.scss
  packages/theme-chalk/src/collapse.scss
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/date-picker/date-picker.scss
  packages/theme-chalk/src/date-picker/date-table.scss
  packages/theme-chalk/src/date-picker/month-table.scss
  packages/theme-chalk/src/date-picker/picker-panel.scss
  packages/theme-chalk/src/date-picker/picker.scss
  packages/theme-chalk/src/date-picker/time-picker.scss
  packages/theme-chalk/src/date-picker/time-spinner.scss
  packages/theme-chalk/src/date-picker/year-table.scss
  packages/theme-chalk/src/descriptions-item.scss
  packages/theme-chalk/src/descriptions.scss
  packages/theme-chalk/src/dialog.scss
  packages/theme-chalk/src/divider.scss
  packages/theme-chalk/src/dropdown.scss
  packages/theme-chalk/src/empty.scss
  packages/theme-chalk/src/form.scss
  packages/theme-chalk/src/image-viewer.scss
  packages/theme-chalk/src/image.scss
  packages/theme-chalk/src/input-number.scss
  packages/theme-chalk/src/link.scss
  packages/theme-chalk/src/menu.scss
  packages/theme-chalk/src/message-box.scss
  packages/theme-chalk/src/message.scss
  packages/theme-chalk/src/notification.scss
  packages/theme-chalk/src/page-header.scss
  packages/theme-chalk/src/pagination.scss
  packages/theme-chalk/src/popover.scss
  packages/theme-chalk/src/popper.scss
  packages/theme-chalk/src/progress.scss
  packages/theme-chalk/src/radio.scss
  packages/theme-chalk/src/reset.scss
  packages/theme-chalk/src/result.scss
  packages/theme-chalk/src/select-v2.scss
  packages/theme-chalk/src/select.scss
  packages/theme-chalk/src/step.scss
  packages/theme-chalk/src/switch.scss
  packages/theme-chalk/src/table-column.scss
  packages/theme-chalk/src/table.scss
  packages/theme-chalk/src/tabs.scss
  packages/theme-chalk/src/timeline-item.scss
  packages/theme-chalk/src/tooltip.scss
  packages/theme-chalk/src/transfer.scss
  packages/theme-chalk/src/tree.scss
  packages/theme-chalk/src/upload.scss
  packages/theme-chalk/src/var.scss
  website/components/demo/color/text-box.vue
  website/docs/es/color.md
  website/util.js
Labels: css migration, enhancement

#2698 refactor(scrollbar): migrate css var
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/scrollbar.scss
  website/docs/en-US/config-provider.md
  website/docs/es/config-provider.md
  website/docs/fr-FR/config-provider.md
  website/docs/jp/config-provider.md
  website/docs/zh-CN/config-provider.md
Labels: css migration, enhancement

#2697 refactor: migrate tree/popup/form/timeline-item css var
  packages/theme-chalk/src/common/popup.scss
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/form.scss
  packages/theme-chalk/src/timeline-item.scss
  packages/theme-chalk/src/tree.scss
Labels: css migration, enhancement

#2695 fix(message): fixed message iconClass not working
  packages/message/src/index.vue
Labels: Community Contribution

#2699 fix(radio-button): `checked` should sync with state
  packages/radio/src/radio-button.vue
  packages/theme-chalk/src/radio-button.scss
Labels: Community Contribution, enhancement

#2689 refactor(date-picker): migrate css var
  packages/theme-chalk/src/common/transition.scss
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/date-picker.scss
  packages/theme-chalk/src/date-picker/date-picker.scss
  packages/theme-chalk/src/date-picker/date-range-picker.scss
  packages/theme-chalk/src/date-picker/date-table.scss
  packages/theme-chalk/src/date-picker/month-table.scss
  packages/theme-chalk/src/date-picker/picker-panel.scss
  packages/theme-chalk/src/date-picker/picker.scss
  packages/theme-chalk/src/date-picker/time-picker.scss
  packages/theme-chalk/src/date-picker/time-range-picker.scss
  packages/theme-chalk/src/date-picker/var.scss
  packages/theme-chalk/src/date-picker/year-table.scss
  packages/theme-chalk/src/time-select.scss
Labels: css migration, enhancement

#2729 refactor(var): simplify checkbox var & move transition to root
  commitlint.config.js
  packages/theme-chalk/src/base.scss
  packages/theme-chalk/src/checkbox.scss
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/var.scss
Labels: css migration

#2711 refactor(backtop/loading): migrate css var
  packages/theme-chalk/src/backtop.scss
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/loading.scss
Labels: css migration, enhancement

#2764 refactor(badge/card/dropdown/rate): migrate css var & use sass:map
  packages/theme-chalk/src/badge.scss
  packages/theme-chalk/src/card.scss
  packages/theme-chalk/src/color-picker.scss
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/dropdown.scss
  packages/theme-chalk/src/mixins/_var.scss
  packages/theme-chalk/src/rate.scss
  packages/theme-chalk/src/table-column.scss
Labels: css migration, enhancement

#2742 LabelWrap: fix label-width bug
  packages/form/__tests__/form.spec.ts
  packages/form/src/label-wrap.ts
Labels: Community Contribution

#2768 refactor(link): remove unused link variables & add sass map
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/link.scss
  packages/theme-chalk/src/upload.scss
  packages/theme-chalk/src/var.scss
Labels: css migration

#2772 refactor(slider): migrate css var & use sass map for message
  package.json
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/dialog.scss
  packages/theme-chalk/src/message-box.scss
  packages/theme-chalk/src/message.scss
  packages/theme-chalk/src/notification.scss
  packages/theme-chalk/src/slider.scss
  packages/theme-chalk/src/var.scss
  yarn.lock
Labels: css migration, enhancement

#2774 refactor(button): use sass map & add outline:none for focus
  packages/theme-chalk/src/button.scss
  packages/theme-chalk/src/checkbox.scss
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/dropdown.scss
  packages/theme-chalk/src/radio-button.scss
  packages/theme-chalk/src/var.scss
Labels: css migration, enhancement
